{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{{ setting.site_title }}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% if setting.favicon %}{{ setting.favicon.url }} {% endif %}" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/bootstrap_modified.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
<!-----------------------------Гавигация ---------------------------------------------------------------->

		<div class="container-fluid">
			<div class="row justify-content-center">
				<div align="center" class="col-12 m-2">
					<spann class="fas fa-phone fa-1x"></spann> 
					<a class="text-black mr-3 ml-3" href="tel:{{ setting.telephone_num }}">
                    	<spann style='font-size: 22px;'>{{ setting.telephone_num }}</spann>
                    </a>
				</div>
				
			</div>
			</div>
		</div>
        <nav class="navbar navbar-expand-lg bg-secondary_alpha text-uppercase" id="mainNav" >
            <div class="container">
                <span class="navbar-brand">{{ setting.site_title }}</span>
				<button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Меню
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto" >
						<!--<li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#page-top">Домой</a></li>-->
                        {% if services%}
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#services">Услуги</a></li>
                        {% endif %}
                        {% if about%}
                            <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">О нас</a></li>
                        {% endif %}
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#comment">Отзывы</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contacts">Контакты</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        {% block top %}{% endblock top %}

        {% block feedback %}{% endblock feedback %}

        {% block services %}{% endblock services %}

        {% if about%}
            {% block about %}{% endblock about %}
        {% endif %}

        {% block recall %}{% endblock recall %} 

        {% block footer %}{% endblock footer %}

<!-----------------------------JS BEGIN ---------------------------------------------------------------->
		<!-- Font Awesome icons (free version)-->
        <script src="{% static 'js/all.js' %}"></script>
        <!-- Bootstrap core JS-->
        <script src="{% static 'js/jquery-3.5.1.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <!-- Third party plugin JS-->
        <script src="{% static 'js/jquery.easing.min.js' %}"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
<!-----------------------------JS END ---------------------------------------------------------------->
        <script>
            $(document).ready(function () {
                $("#form").submit(function() {
                    //$("#btnsubmit").attr("disabled", true);
                    
                    var form_data = new FormData(this);


                    $.ajax({
                        dataType: "json",
                        contentType: false,
                        processData: false,
                        type: "POST",
                        url: "{% url 'feedback_create' %}",
                        data: form_data,
                        success: function (data) {
                            text = `
                            <div id='text_post_form' align='center'>
                                <h2><p>${data.name}</p></h2>
                                <h3><p>Спасибо за ваше обращение!</p></h3>
                            </div>
                            `
                            $("#form_body").text('');
                            $("#form_body").append(text);

                            $("#form_body").height( $("#text_post_form").height() )
                            margin = $('#carouselExampleIndicators').css('margin-top');
                            $("#form_body").css('margin-top', `${margin}`);
                            vertical_center()
                            //$('#ModalSend').modal('show');
                            //$('#form')[0].reset();
                            //$("#btnsubmit"). attr("disabled", false);
                        },
                        error: function (error) {
                            json = JSON.parse(error.responseText)
                            for (name_field in json){ 
                                console.log(name_field);
                                console.log(json[name_field]);
                                for (i in json[name_field]){
                                    $(`#id_${name_field}_errors`).text('');
                                    $(`#id_${name_field}_errors`).append(json[name_field][i]);
                                    console.log(json[name_field][i]);
                                }
                            }
                        },
                    });
                return false;
                });
            });
        </script>

        {% block script %}{% endblock script %}

    </body>
</html>
