{% extends 'main/base.html' %}
{% load static %}

{% block top %}
<section class="page-section-mobile bg-secondary">
    <div class="container-fluid-carusel">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for item in carusels %}
                <li data-target="#carouselExampleIndicators" data-slide-to="{{forloop.counter0}}" {% if forloop.first
                    %}class="active" {% endif%}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for item in carusels %}
                <div class="carousel-item {% if forloop.first %} active {% endif%}">
                    <div class="corusel-inner-div-img"
                        style="background-image: url({{item.img_mobile.url}}); background-size: cover; background-position: center;">
                    </div>
                    <div class="carousel-caption">
                        <h1>{{ item.title }}</h1>
                        <button type="button" class="btn text-uppercase font-weight-bold bg-primary text-white rounded"
                            data-toggle="modal" data-target="#servicesModal{{item.service.pk}}">Подробнее</button>
                        <br><br>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock top %}
{% block feedback %}
<section class="page-section bg-secondary">
    <div class="container-fluid" id="page-top">
        <div class="row masthead_mobile">
            <div class="col-xl-12">
                <div id='form_body' class="card">
                    <div class="card-body">
                        <h2 id='form_name' class="text-center text-uppercase text-secondary">Оставить заявку</h2>
                        <form id="form">
                            {% csrf_token %}
                            <div class="control-group">
                                <div class="form-group floating-label-form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Имя"
                                        maxlength="150" id="id_name" value=''>
                                    <p id='id_name_errors' class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="form-group floating-label-form-group">
                                    <input type="text" name="email" class="form-control" placeholder="Email"
                                        maxlength="254" id="id_email" value=''>
                                    <p id='id_email_errors' class="help-block text-danger"></p>
                                </div>
                            </div>

                            <div class="control-group">
                                <div class="form-group floating-label-form-group">
                                    <input type="text" name="telephone" class="form-control"
                                        placeholder="Телефон +7 XXX XXX XX XX" pattern="(\+?\d[- .]*){5,13}"
                                        maxlength="20" id="id_telephone" value=''>
                                    <p id='id_telephone_errors' class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group">
                                    <textarea name="message" cols="40" rows="3" class="form-control"
                                        placeholder="Cообщение" id="id_message"></textarea>
                                    <p id='id_message_errors' class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div align="center" class="form-group">
                                <button class="btn btn-primary btn-xl" id="btnsubmit">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock feedback %}

{% block services %}
<section class="page-section services" id="services">
    <div class="container">
        <!-- services Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Услуги</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- services Grid Items-->
        <div class="row justify-content-center ">
            {% for service in services%}
            <div align="center" class="col-xl-4 col-lg-4 col-md-6 col-sm-12 mb-3">
                <div class="card">
                    <div class="services-item mx-auto" data-toggle="modal" data-target="#servicesModal{{service.pk}}">
                        <div class="services-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="services-item-caption-content text-center text-white"><i
                                    class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <p align="center"><img class="img-fluid" src="{{ service.pictogram.url }}"></img></p>
                        <div class="card-body">
                            <p class="card-text">{{ service.short_description }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- services Modals-->
{% for service in services%}
<div class="services-modal modal fade" id="servicesModal{{service.pk}}" tabindex="-1" role="dialog"
    aria-labelledby="servicesModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- services Modal - Title-->
                            <h4 class="services-modal-title text-secondary text-uppercase mb-0"
                                id="servicesModal1Label">{{service.title}}</h4>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- services Modal - Image-->
                            <img class="img-fluid_modal rounded mb-5" src="{{ service.pictogram.url }}" alt="" />
                            <!-- services Modal - Text-->
                            <p class="mb-5">{{ service.full_description|safe }}</p>
                            <button class="btn btn-primary" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Закрыть
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock services %}

{% block about%}
<section class="page-section bg-secondary text-white mb-0" id="about">
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">О Нас</h2>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-center">
            {% for item in about %}
            <div class="col-lg-6">
                <p> {{ item.text|safe }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock about %}
<!-----------------------------ОТЗЫВЫ BEGIN---------------------------------------------------------------->
{% block recall %}
<section class="page-section" id="comment">
    <div class="container">
        <!-- comment Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Отзывы</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div id='in_recall' class="row justify-content-center d-flex">
        </div>
        <div align='canter'>
            <button class="btn btn-primary btn-xl" onclick="get_recalls()" id="btn_get_recall">Еще...</button>
        </div>
    </div>
</section>
{% endblock recall %}

{% block footer %}
<footer class="page-section bg-secondary text-center text-white" id="contacts">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-4 mb-lg-0" align='center'>
                <h5 class="">{{setting.org_name}}</h5>
                <i class="fas fa-phone"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="text-white" href="tel:{{ setting.telephone_num }}">
                    <spann style="font-size: 15pt;">{{ setting.telephone_num }}</spann>
                </a>
                <br>
                <i class="far fa-envelope-open"></i>&nbsp&nbsp&nbsp&nbsp&nbsp
                <a class="text-white" href="mailto:{{ setting.email }}">
                    <spann style="font-size: 15pt;">{{ setting.email }}</spann>
                </a>

            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5 class="text-uppercase mb-4">Мы в соцсетях</h5>
                {% for social_network in social_networks %}
                <a class="btn btn-outline-light btn-social mx-1" href="{{social_network.link}}"><i
                        class="{{social_network.name}}"></i></a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>
<div class="copyright_mobile py-4 text-center text-white">
    <div class="container-fluid">
        <a class="text-white" href="tel:+79996496550"><small>© Kungurov Pavel 2020</small></a>
    </div>
</div>
<!--------------------------Кнопка вверх BEGIN ---------------------------------------------------------------->
<div class="scroll-to-top scroll-to-top-mobile position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i
            class="fa fa-chevron-up"></i></a>
</div>
<!-----------------------------Кнопка на верх при узком окне END ---------------------------------------------------------------->
<!-----------------------------Нижнее после с контактами BEGIN ---------------------------------------------------------------->
<div class="fixed-bottom bg-secondary_alpha">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div align="center" class="col-12 mb-2 mt-2">

                <a class="text-white btn text-uppercase font-weight-bold bg-primary text-white rounded"
                    href="tel:{{ setting.telephone_num }}" style="width:100px">
                    <i class="fas fa-phone fa-1x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-----------------------------Нижнее после с контактами END ---------------------------------------------------------------->
{% endblock footer %}

{% block modalsend%}
<!--<div class="services-modal modal fade" id="ModalSend" tabindex="-1" role="dialog" aria-labelledby="ModalSendLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h1 id='ModalSendText'></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
{% endblock modalsend%}

{% block script%}
<script type="text/javascript">
    var inner = 0
    var max_page = 0
    function get_recalls() {
        inner = inner + 1;
        $.ajax({
            type: "GET",
            url: "{% url 'recall_list' %}" + `?&page=${inner}`,
            success: function (data) {
                max_page = data.total_pages
                for (i in data.result) {
                    title = data.result[i].title;
                    name = data.result[i].feedback.name;
                    text = data.result[i].text;
                    datetime = data.result[i].datetime;
                    review = `
                                <div align="center" class="col-12">
                                    <div class="card card-body flex-fill" style="margin-bottom: 2em;">
                                        <h3 class="card-title">${name}</h3>
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item"><h5 class="card-text">${title}</h5></li>
                                            <li class="list-group-item" align='center'>${text}</li>
                                      </ul>
                                    </div>  
                                </div>
                            `;
                    $('#in_recall').append(review);
                    if (inner >= max_page) {
                        $('#btn_get_recall').prop('disabled', true);
                    }
                }

            }
        });
    }
    get_recalls();
</script>

<script type="text/javascript">
    function vertical_center() {
        $('#carouselExampleIndicators').css('margin-top', '0px');
        $("#form_body").css('margin-top', '0px');
    }

    vertical_center()

    $(window).resize(function () {
        vertical_center()
    });
</script>
{% endblock script%}